body {
    color: #000;
    font: 13px "Lucida Console", "Helvetica", "Arial", Courier, mono;
}
#header {
    padding: 0;
}
.navigation {
	overflow: auto;
	clear: both;
}
#content {
	overflow: auto;
}
.postTitle {
    border: 1px solid #900;
    border-style: none none solid;
    margin: 0;
    padding: 5px;
}
.postTitle h2 a {
    font-size: 18px;
    color: #111111;
    text-decoration: none;
    font-weight: bold;
    background-color: #FFF;
    display: block;
}
.postTitle h2 {
    margin: 10px 0;
}
.post a:hover {
	text-decoration: underline;
}
#page {
    background-color: white;
    margin: auto;
    padding: 0;
    width: 1000px;
}
.post .entry a {
	display: inline-block;
	vertical-align: middle;
	width: 20%;
}
.post .entry img {
    background-color: #FFFFFF;
    border: 1px solid #ced4ca;
    padding: 3px;
    margin: 5px 0 5px 0;
    float: none;
}
.post .entry a:hover img {
    background-color: #666;
}
.post .entry {
    padding: 0 50px 5px;
    border: 1px solid #900;
    border-style: none none solid;
    margin-bottom: 5px;
}
#header h1 a {
    font-size: 14px;
    background-color: #000000;
    color: #FFFFFF;
    padding: 3px;
    text-decoration: none;
    font-weight: normal;
}
#header h1 {
    margin: 20px 0;
}
#header .description {
    display: inline
}
.navigation a {
    font-size: small;
    text-decoration: none;
}
.navigation a:link {
    color: #900;
}
.navigation a:visited {
    color: #CCC;
}
.navigation a:hover,
.navigation a:active {
    text-decoration: underline;
}
.post {
    text-align: justify;
}
.alignleft {
    float: left;
}
.alignright {
    float: right;
}
