---
layout: default
---

	<div class="navigation">
		{% if page.previous.url %}
		<div class="alignleft">
			{% include title.md post=page.previous prefix='&laquo;' title_prefix='Previous Post:' %}
		</div>
		{% endif %}
		{% if page.next.url %}
		<div class="alignright">
			{% include title.md post=page.next suffix='&raquo;' title_prefix='Next Post:' %}
		</div>
		{% endif %}
	</div>

	<div class="post">
		<div class="postTitle" ><h2>
		{% include title.md post=page %}
		</h2></div>
		<div class="entry">
			{% include gallery.md %}
			{{ content }}
		</div>
		<script type="text/javascript">
			$('.entry').lightGallery({
				mode: 'lg-fade',
				download: false
			})
		</script>

	</div>
